<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django Exercise</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        .nav-link {
            color: #55ccff;
        }
        .nav-link:hover {
            color: white;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-dark bg-dark static-top">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="navbar-brand" href="{% url 'index' %}">Go to Index</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'basic_app5:register' %}">Register</a></li>


                <!-- 아래의 is_authenticated는 django.contrib.auth 내의 내장함수임 -->
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">[Log Out]</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'basic_app5:user_login' %}">[Log In]</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container" id="container2">

    {% block body_block %}
    {% endblock %}
    </div>
</div>
</body>
</html>